*{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  margin: 0;
}

.container{
    width: 100%;
    margin: 0 auto;
}
header{
    background-color: aliceblue;
    height: 90px;
    border-bottom: 2px solid rgb(10, 10, 10);
}

.header-logo{
    float:left;
}
.header-list{
    float:right;
}
.header-list li{
    float:left;
    list-style-type:none;
    margin: 15px 5px 15px 5px;
}
.btn{
    padding: 12px 24px;
    color:black;
    display: inline-block;
    opacity: 0.8;
    /* Ubah nilai border-radius ke 4px */
    border-radius:4px;
    margin-top: -12px;
}
.join{
    background-color: white;
    border: 2px solid rgb(10, 10, 10);
    border-radius: 5px;
}

.warning{
  background-color: #62BFED;
  padding: 5px;
  height:50px;
  animation-name: warning;
  animation-duration:5s;
  animation-delay: 1s;
  animation-iteration-count: 2;
  animation-timing-function: linear;
  font-weight: 600;
  text-align: center;
}
.warning p{
  animation-name: warning-text;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
}
@keyframes warning{
  0% {background-color: #62BFED;}
  25% {background-color: rgb(212, 237, 250);}
  50% {background-color: #62BFED;}
  50% {background-color: rgb(212, 237, 250);}
  100% {background-color: #62BFED;}
}
@keyframes warning-text{
  0% {font-size:14px;}
  25% {font-size:16px;}
  50% {font-size:14px;}
  75% {font-size:16px;}
  100% {font-size:14px;}
}
footer .footer-wrapper{
  padding:25px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #28166F;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}
.footer-wrapper .footer-left{
  width: 60%;
  font-size: 16px;
}

.footer-wrapper .footer-center, .footer-wrapper .footer-right{
  width: 20%;
}

.footer-wrapper .footer-center a:hover, .footer-wrapper .footer-right a:hover{
  font-size: 17px;
}

.footer-wrapper .footer-center a, .footer-wrapper .footer-right a{
  line-height: 40px;
  display: block;
  color: #fff !important;
  text-decoration: none;
}
.footer-wrapper .footer-bottom{
  width:100%;
  font-size: 12px;
}

@media(max-width:767px){
  footer{
    text-align: center;
  }
  .footer-wrapper .footer-left, .footer-wrapper .footer-center, .footer-wrapper .footer-right{
    width: 100%;
  }
  .warning{
    height:100px;
  }
}

.main{
  padding-top: 30px;
  padding-bottom: 100px;
  width: 1170px;
  margin: 0 auto;
  font-family: "Lucida Grande";
}

.search {
  color: #000000;
  width: 250px;
  padding: 5px 5px;
  border-radius: 4px;
}

.button{
 padding: 5px 5px;
 background-color: #55acee;
 color: white;
 border-radius: 4px;
 }


table{
  border: 0;
  width: 100%;
  margin: 150px auto;
  font-size: 15px;
}

.laman{
   background-color: #55acee;
   opacity: 0.8;
   border-radius: 4px;
   padding: 15px 15px;
   display: inline-block;
   color: white;
}

.btn-wrapper {
  margin: 150px 20px;
  width: 1170px;
  text-align: center;
}

.laman:hover {
  opacity: 1;
}

.tombol{
  opacity: 0.8;
}

.tombol:hover {
  opacity: 1;
}

a {
  text-decoration: none;
}
/* Extra2 */

.contact-form {
 padding: 95px  80px;

}
.box-shadow {
	box-shadow: 10px 10px 5px #f0eeeb;
	border:1px solid #ded2b4;
	padding:18px;
	border-radius: 9px;
	float:left;
	width: 50%;
	background: url(https://cdn.pixabay.com/photo/2020/02/06/01/52/planta-4822807_960_720.png);
	background-position: center;
}
	

.section-list {
  border-bottom: 3px solid #A9A9A9;
  font-size: 38px;
  padding-bottom: 16px;
  margin-bottom: 76px;
  text-align: center;
 
}
.section-list h2 {
	  font-family:slab-serif;
	  
}
	

 input, textarea {
	 padding: 10px 50px;
	 font-size: 20px;
	 width: 380px;
	 margin-bottom: 30px;
	 border: 1px solid #D3D3D3;
	 margin-top: 20px;
	border-radius: 5px;
 }
 
 .submit-form {
	 background-color:  #008B8B;
	 color: #FFFAF0;
 }
 .submit-form:hover {
	 background-color: #2F4F4F;
 }
 label {
	
    font-weight: 600 ;
    text-align: left ;
	display: block;
    margin: 0;
    color: rgba(0,0,0,.87);
    font-size: 15px;
    font-weight: 700;
    text-transform: none;
}
.iconing {
	float: right;
	width:45%;
	border:1px solid #ded2b4;
	border-radius: 10px;
	 box-shadow: 10px 10px 5px #f0eeeb;
	background-image: url(https://cdn.pixabay.com/photo/2020/02/06/01/52/planta-4822807_960_720.png); 
	background-position: center;
	
	}

.tittle {
  font-size: 38px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  text-align: center;
 color:#f57a87;
 
}
.item{
	padding-left: 73px;
	margin-bottom: 15px;
	
}
.item p {
	padding-left: 55px;
	padding-bottom: 25px;
	color: #50524e;
}
.item b{
	color: #50524e;
}
